{% extends 'base.html' %}

{% block header %}
{{ super() }}
<p>Регистрация</p>
{% endblock %}
{% block content %}
<div id="reg_form">
    <form action="/register" method="post" class="form-register">
        <ul class="reg_list">
            <li>
                <div class="reg_title">Логин </div>
                <input type="text" name="login" class="reg_input">
            </li>
            <li>
                <div class="reg_title">Пароль </div>
                <input type="password" name="pass" class="reg_input">
            </li>
            <li>
                <div class="reg_title">Email </div>
                <input type="text" name="email" class="reg_input">
            </li>
            <li>
                <p class="reg_agree"><input type="checkbox" name="agree">
                Регистрируясь, вы принимаете пользовательское соглашение</p>
            </li>
        </ul>
        <div id="reg_control">
            <div class="reg_button" id="btn_right"><input class="button" type="submit" value="Зарегестрироваться"></div>
            <div class="reg_button" id="btn_left"><input class="button" type="reset" value="Очистить"></div>
        </div>
    </form> 
</div>
{% endblock %}